# Maven
target/
*.class

# Allure
.allure/
allure-results/
allure-report/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/

# Logs y volcados de Maven
*.log
*.dump
*.dumpstream

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Variables locales
.env
.env.local